USE [master]
GO
/****** Object:  Database [NVNhanSu]    Script Date: 7/30/2021 2:19:51 PM ******/
CREATE DATABASE [NVNhanSu]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NVNhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NVNhanSu]
GO
/****** Object:  Table [dbo].[BangChamCong]    Script Date: 7/30/2021 2:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChamCong](
	[NgayCC] [date] NOT NULL,
	[MaNV] [nchar](10) NOT NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[GioVao] [time](7) NULL,
	[GioRa] [time](7) NULL,
 CONSTRAINT [PK_NgayCC_MaNV_BangChamCong] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[NgayCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BienDongNV]    Script Date: 7/30/2021 2:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienDongNV](
	[MaNV] [nchar](10) NOT NULL,
	[Ngay] [date] NOT NULL,
	[CVCu] [nvarchar](50) NULL,
	[CVMoi] [nvarchar](50) NULL,
	[PBCu] [nvarchar](50) NULL,
	[PBMoi] [nvarchar](50) NULL,
	[HeSoLuongCu] [float] NULL,
	[HeSoLuongMoi] [float] NULL,
 CONSTRAINT [PK_MaNV_Ngay_BienDongNV] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[Ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 7/30/2021 2:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [nchar](10) NOT NULL,
	[TenCV] [nvarchar](100) NOT NULL,
	[PCChucVu] [float] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_MaCV_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DMKThuongKyLuat]    Script Date: 7/30/2021 2:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMKThuongKyLuat](
	[MaKL] [nchar](10) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[LyDo] [nvarchar](50) NULL,
	[Loai] [nvarchar](20) NULL,
	[Tien] [float] NULL,
 CONSTRAINT [PK_MaKL_DMKThuongKyLuat] PRIMARY KEY CLUSTERED 
(
	[MaKL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhenThuongKyLuat]    Script Date: 7/30/2021 2:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhenThuongKyLuat](
	[MaNV] [nchar](10) NOT NULL,
	[NgayKL] [date] NOT NULL,
	[MaKL] [nchar](10) NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_MaNV_NgayKL_KhenThuongKyLuat] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[NgayKL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Luong]    Script Date: 7/30/2021 2:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luong](
	[MaLuong] [nchar](10) NOT NULL,
	[MaNV] [nchar](10) NOT NULL,
	[NgayLuong] [date] NULL,
	[TyLe] [float] NULL,
	[TLCoBanHD] [float] NULL,
	[TLCoBan] [float] NULL,
	[TLChinh] [float] NULL,
	[PhuCap] [float] NULL,
	[NgayCong] [int] NULL,
	[TienBHXH] [float] NULL,
	[TienBHYT] [float] NULL,
	[TienBHTN] [float] NULL,
 CONSTRAINT [PK_MaLuong_Luong] PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LyLichNV]    Script Date: 7/30/2021 2:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LyLichNV](
	[MaNV] [nchar](10) NOT NULL,
	[TDHocVan] [nvarchar](50) NULL,
	[TDChuyenMon] [nvarchar](50) NULL,
	[TDNgoaiNgu] [nvarchar](50) NULL,
	[TonGiao] [nvarchar](50) NULL,
	[QHGiaDinh] [nvarchar](100) NULL,
	[Hinh] [image] NULL,
 CONSTRAINT [PK_MaNV_LyLichNV] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/30/2021 2:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[MaPB] [nchar](10) NOT NULL,
	[MaCV] [nchar](10) NOT NULL,
	[DiaChi] [ntext] NULL,
	[CMND] [int] NULL,
	[DienThoai] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[HeSoLuong] [float] NULL,
	[Hinh] [varbinary](max) NULL,
 CONSTRAINT [PK_MaNV_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 7/30/2021 2:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPB] [nchar](10) NOT NULL,
	[TenPB] [nvarchar](100) NOT NULL,
	[NgayTL] [date] NULL,
	[SDT] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[ChucNang] [nvarchar](200) NULL,
 CONSTRAINT [PK_MaPB_PhongBan] PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 7/30/2021 2:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[MaNV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TenDangNhap_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BangChamCong]  WITH CHECK ADD  CONSTRAINT [FK_MaNV_BangChamCong] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[BangChamCong] CHECK CONSTRAINT [FK_MaNV_BangChamCong]
GO
ALTER TABLE [dbo].[BienDongNV]  WITH CHECK ADD  CONSTRAINT [FK_MaNV_BienDongNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[BienDongNV] CHECK CONSTRAINT [FK_MaNV_BienDongNV]
GO
ALTER TABLE [dbo].[KhenThuongKyLuat]  WITH CHECK ADD  CONSTRAINT [FK_MaKL_KhenThuongKyLuat] FOREIGN KEY([MaKL])
REFERENCES [dbo].[DMKThuongKyLuat] ([MaKL])
GO
ALTER TABLE [dbo].[KhenThuongKyLuat] CHECK CONSTRAINT [FK_MaKL_KhenThuongKyLuat]
GO
ALTER TABLE [dbo].[KhenThuongKyLuat]  WITH CHECK ADD  CONSTRAINT [FK_MaNV_KhenThuongKyLuat] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[KhenThuongKyLuat] CHECK CONSTRAINT [FK_MaNV_KhenThuongKyLuat]
GO
ALTER TABLE [dbo].[Luong]  WITH CHECK ADD  CONSTRAINT [FK_MaNV_Luong] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Luong] CHECK CONSTRAINT [FK_MaNV_Luong]
GO
ALTER TABLE [dbo].[LyLichNV]  WITH CHECK ADD  CONSTRAINT [FK_MaNV_LyLichNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LyLichNV] CHECK CONSTRAINT [FK_MaNV_LyLichNV]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_MaCV_NhanVien] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_MaCV_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_MaPB_NhanVien] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([MaPB])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_MaPB_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_MaNV_TaiKhoan] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_MaNV_TaiKhoan]
GO
USE [master]
GO
